@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Montserrat:wght@300&display=swap');


    
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        margin: 0;
        background: #0F0E17;
        color: #FFFFFE;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        
        
    }

    #card {
      position: relative;
      border:solid  black;
      margin:10px;
      text-align: center;
      font-size: 15px;
      width: 200px;
      height:auto;
    }

    #card img {
      width: 200px;
      height: 300px;
      padding:5px;
    }
    .btn-detalle {
      background-color: orangered;
      color:whitesmoke;
      font-size: 8px;
    }

    .contenedor-cards {
      margin: 50px;
      display:flex;
      flex-wrap: wrap;
      
    }
 
   
    .formLogin, .formRegistro {
      margin-left:30%;
      margin-right: 30%;
      margin-top:5%;
      text-align: center;
      align-content: center;
    }
    

    .formLogin input, .formRegistro input {
      margin:10px;
      width:400px;
      text-align: justify;
      
    }
    .google-btn {
      display:flex;
      justify-content: space-around;
      width:250px;
      height:50px;
      margin-top:5%;
      margin-left:25%;
  }
  
  
  
 
  .btn-text {
      float: right;
      margin: 11px 40px 0 0;
      font-size: 14px;
      letter-spacing: 0.2px;
      background-color: #FFFFFE;
  }

    .btnSearch {
      background-color: yellow;
    }


    .form-signin {
      width: 80%;
      max-width: 330px;
      padding: 10px;
      margin: auto;
      
    }

    #sesion-ajustes {
      
      margin-left: 10%;
      margin-top:5%;
    }
    
  .btn {
    margin-left:5px;
  }


.cursor, #tarjeta {
  cursor: pointer;

}

#imagen-descripcion {
  width:150px;
  height:150px;
}

#title-seccion {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 58px;
margin: 48px 0px;
}

#putuacion1 {
  position: absolute;
  left: 0%;
  top:10px;
  border-top: 1px solid #FED941;
  border-right: 1px solid #FED941;
  border-bottom: 1px solid #FED941;
  border-radius: 0.8em;
  padding: 0.25em;
  padding-right: 0.8em;
  padding-left: 1em; 
  background: #C4C4C4;
}

#sin-resultados {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-align: center;


}

#X {
  display: flex;
  justify-content: right;
  cursor:pointer;
  
  
}

#X div {
  
  padding: 5px;
  
}

#ver-ahora {
  background: #FED941;
  border-radius: 4px;
  color:black;
  padding: 10px 24px;

}

#modal-modificar {
  width: 1200px;
  height: 579px;
  text-align: justify;
  

}










  